:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font-size);
  line-height: 1.173;
  font-weight: 350;
  letter-spacing: 0px;

  --font-size: 22px;
  --headline: 1.6rem;
  --tracking: -0.04;
  --page-padding: 24px;

  --color: #FA4811;
  --backdrop: #F1EFE1;
  color: var(--color);
  background-color: var(--backdrop);
}

h1,h2,h3,h4,h5, .design-specialty-list {
  letter-spacing: calc( var(--tracking) * var(--font-size) );
}

*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

.loading-logo {
  width: 170px;
  position: fixed;
  left: 50%;
  top: 10vh;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100000;
  pointer-events: none;
  user-select: none;
  transition: 1.1s cubic-bezier(.85,-0.01,.21,1);
  clip-path: inset(0 0 0 0);
}
.appear-entry-loaded .loading-logo {
  top: 50vh;
  clip-path: inset(100% 0 0 0);

  transition: 1.1s cubic-bezier(.85,-0.01,.21,1);

}

body.appear-entry {
  transform: translateY(40vh);
  transition: 1.1s transform cubic-bezier(.85,-0.01,.21,1);
  overflow: hidden;
}

body.appear-entry::before {
  position: fixed;
  content: '';
  left: 0;
  top: 0;
  width: 100vw;
  height: 140vh;
  transform: translateY(-40vh);
  background-color: var(--color);
  z-index: 10000;
  transition: 0.8s cubic-bezier(.85,-0.01,.21,1);
}

body.appear-entry-loaded {
  transform: translateY(0);
}

body.appear-entry-loaded::before {
  height: 40vh;
  transform: translateY(-40vh);
}

.subpage-navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

a {
  cursor: pointer;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
}

.logo-container {
  position: relative;
  width: 100%;
  height: 34px;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
}

.logo-container img {
  position: absolute;
  height: 100%;
}

.navigation-link {
  position: relative;
  transform-origin: left center;
  display: inline-block;
  width: auto;
  flex-grow: 0;
  width: fit-content;
  padding-right: 2rem;
}

.navigation-link:hover {
  text-decoration: underline;
}

.homepage-main-section {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: var(--page-padding);
  min-height: 700px;
}
.subpage-main-section {
  padding: var(--page-padding);
}

.hide-scroll {
  overflow: hidden !important;
}

.row-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  box-sizing: border-box;
}

.column {
  position: relative;
  width: 100%;
  gap: 32px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

p.monospaced {
  margin: 0;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}

@media screen and (max-width: 1000px) {
  :root {
    --font-size: 19px;
    --page-padding: 24px;
  }
}

@media screen and (max-width: 720px) {
  :root {
    --page-padding: 16px;
  }

  .homepage-main-section,
  .subpage-main-section {
    flex-direction: column;
  }
  .column {
    gap: 28px;
  }

  :root {
    --font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .column {
    gap: 16px;
  }

  :root {
    --font-size: 16px;
  }
}

#title-column {
  position: sticky;
  top: var(--page-padding);
  height: calc(100dvh - var(--page-padding)*2);
  min-height: 480px;
}

.homepage-main-section #title-column {
  top: 0;
}

@media screen and (max-width: 720px) {
  .column-on-tablet {
    flex-direction: column;
  }
  .navigation-link {
    padding-right: 0rem;
  }
  .big-title-container {
    top: 56px;
    transform: none !important;
    height: 230px !important;
  }
  .big-title-container .title-line {
    width: 100% !important;
    height: auto;
  }
  #title-column {
    height: 300px;
    margin-bottom: 1rem;
    flex-grow: 0;
  }
  #specialty-column {
    flex-direction: column-reverse;
    justify-content: space-between;
    flex-grow: 1;
  }
  #title-column.subpage-titlecolumn {
    justify-content: space-between;
    min-height: 370px;
  }
  .column-on-tablet .content-container {
    width: 100%;
    background-color: var(--backdrop);
    z-index: 1;
    padding-top: 5rem;
  }

  .spinning-fan-container {
    width: 100px !important;
    height: 800px !important;
    bottom: 0px !important;
    transform: scale(0.75) rotate3d(0, 1, 0, -120deg) !important;
  }
}

[data-homepage-random-group] {
  transition: 0ms;
}

ul.design-specialty-list {
  margin: 0;
  list-style: none;
  font-size: var(--headline);
  line-height: 1.8rem;
  padding: 0;
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: var(--headline);
  line-height: 1.8rem;
}

.big-title-container {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 0.08rem;
  pointer-events: none;
}

.big-title-container .title-line {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 1200px;
  gap: 0.05rem;
  pointer-events: none;
  user-select: none;
}
.title-line img {
  opacity: 1 !important;
  width: auto;
  height: 100%;
}

.content-container {
  width: 100%;
  padding: 0;
  gap: 4px;
  width: calc(100%/3*2);
  flex-shrink: 0;
  box-sizing: border-box;
}

.showcase-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.showcase-carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
}
.slideshow {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-shrink: 0;
  overflow: hidden;
}
.slideshow-controls {
  height: 56px;
  width: center;
}

.slideshow-image {
  position: relative;
  width: 28vw;
  aspect-ratio: 1 / 1.414;
  background-color: var(--color);
  border-radius: 8px;
}

.showcase-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}
.showcase-tile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase-full {
  grid-column-start: 1;
  grid-column-end: 3;
}

.showcase-tile.showcase-full {
  grid-column-start: 1;
  grid-column-end: 3;
  aspect-ratio: 1 / 0.708;
}


.showcase-sublabel {
  height: 22px;
}

.showcase-tile.showcase-full.spacer {
  position: relative;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  height: 46px;
}

.spacer-mid {
  height: 80px !important;
}

.category-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 14em;
  --color: #000;
  --backdrop: #fff;
  letter-spacing: 0px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
}

.small-chip {
  padding: 8px 14px;
  box-sizing: border-box;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  background-color: var(--backdrop);
  height: 32px;
  border-radius: 32px;
}

img.glitch-loop {
  width: 98vw;
}

canvas {
  display: block;
  width: 600px;
  height: 700px;
  filter: saturate(1.2);
  transition: 1.6s transform, 1.6s opacity;
  bottom: -2vh;
  right: 1.2vw;
  position: fixed;
  top: unset;
  transform: scale(1);
  pointer-events: none;
}

.appear-entry canvas {
  transform: scale(0.44);
  opacity: 0;
}

.appear-entry-loaded canvas {
  transition-delay: 700ms;
  transform: scale(1);
  opacity: 1;
}


.head-container {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #fa4811;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-container canvas {
  position: relative;
  transform: scale(0.5) translateY(10%);
  left: 0;
  top: 0;
  bottom: unset;
  right: unset;
}

@media screen and (max-width: 640px) {
  canvas {
    bottom: 50px;
    right: -200px;
  }
}

@media screen and (min-width: 1000px) {
  canvas {
    right: 11vw;
  }
}

p {
  margin-bottom: 1em;
}